  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom right, #f87373, #f7e930);
  }
  
  header {
    background: linear-gradient(to bottom right, #f3b0b0, #8ceb89);
    height: 40px;
    margin: -8px;
    padding: 7px;
  }

  header nav div img{
    width: 150px;
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    margin: 10px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #555151;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: #2c55c5b4;
    text-decoration: none;
    font-size: 18px;
  }

  .left{
    float: left;
    font-size: 25px;
    color: rgb(46, 161, 46);
  }

  .right{
    float: right;
  }

  .imgl{
    float: left;
    width: 30%;
    height: auto;
  }
  
  .imgr{
    float: right;
    width: 30%;
    height: auto;
  }
  
  main {
    padding: 20px;
  }
  
  #hero {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(to left, #f08585, #ccc);
    height: 150px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
  }
  
  #about, #services, #contact {
    padding: 50px 0;
    margin: 20px;
    background-color: rgba(127, 255, 212, 0.329);
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }
  
  form{
    margin-left: 535px;
  }

  main section h2{
    margin-top: 5px;
    text-align: center;
  }
  
  main section div{
    display: flex;
    justify-content: space-between;
  }

  .imgs{
    float: right;
    height: auto; 
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    height: 130px;
  }

  footer img{
    max-height: 150px;
    width: auto;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #492525;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #666;
  }
  